<!DOCTYPE html>
<html>
<head>
  <title>Lamefriends</title>
  <%= stylesheet_link_tag    "application", "container" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


</head>
<body>

<div class = "topbar">
	<div class = "fill">
		<div class = "container">
			<a class = "brand" href="#"> LameFriends</a>
			<ul class = "nav" >
			<li> <a href="#about">About</a></li>

			</ul>

				<% if current_user %>
				<button class = "btn" type="submit"> Sign out </button>
				<% end %>
		</div>
	</div>
</div>

<div class = "container">
	<div class="content">
		<div class="page-header">
			<h1>Mutual Friends <small>none can be trusted</small></h1>
		</div>

		<div class="row"> 
			<div class="span10">
				<p><%= yield %></p>
			</div>

			
		</div>
</div>




<footer>
	<p>&copy; LameFriends 2012 </p>
</footer>

</div>
</body>
</html>
