<!DOCTYPE html>
<html>
<head>
  <title>Lamefriends</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class = "topbar">
	<div class = "fill">
		<div class = "container">
			<a class = "brand" href="#"> LameFriends</a>

		</div>
	</div>
</div>

<div class = "container">

	<div class ="hero-unit">
		<h1>Hello, world!</h1>
		<p>Awesome ness</p>
		<p><a class = "btn primary large">Learn more</a></p>
	</div>
LOGIN
<%= yield %>


<footer>
	<p>&copy; LameFriends 2012 </p>
</footer>

</div>
</body>
</html>
